faster-whisper
ctranslate2
torch
torchaudio
numpy
av
silero-vad
pydantic
pydantic_core
transformers
filelock
requests
urllib3
certifi
charset-normalizer
tqdm
regex
fastapi
starlette
uvicorn
anyio
sniffio
h11
websockets
huggingface-hub
onnxruntime
sentencepiece
safetensors
omegaconf